body {
    margin: 0;
}

nav {
    align-items: center;
    background-color: #6a524e;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
}

nav a {
    color: #f6f6ee;
    font-family: 'Russo One', sans-serif;
    font-size: 28px;
    text-decoration: none;
}

header {
    background-image: url("images/banner1.jpg");
    background-size: cover;
    height: 520px;
}

section {
    background-color: #f3ddb4;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-evenly;
}

div {
    text-align: center;
    width: 40%;
}

div p {
    color: #403e3a;
    text-align: justify;
}

div li {
    color: #403e3a;
}

div h2 {
    color: #d00716;
}

/*div ul {
    list-style-image: url("")
}
*/

ul li:nth-child(even) {
    color: #d00716;
}

h3 {
    color: #d00716;
    font-family: 'Russo One', sans-serif;
    font-size: 22pt;
}

input::placeholder{
    color: #403e3a;
    font-family: 'Montserrat', sans-serif;
}

input:focus {
    background-color: #f6f6ee;
    width: 150px;
    height: 25px;
}

footer div {
    align-items: center;
    justify-content: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}